{
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "presets": ["env", "react"]
    },
    "test-rollup": {
      "presets": [["env", { "modules": false }], "react"]
    }
  }
}
