{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    },
    "test-rollup": {
      "presets": [["env", { "modules": false }], "react"]
    }
  }
}
