{
  "presets": [["@babel/env", { "modules": false }], "@babel/react"],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react"]
    },
    "test-rollup": {
      "presets": [["env", { "modules": false }], "react"]
    }
  }
}
